@media(max-width: 980px){
   .block-ads{
      display: none;
   }
   .box{
      flex-direction: column;
   }
   .block-paisis{
      width: 100%;
   }
   .block-pirulita-cevadiss{
      width: 100%;
   }
}
@media(max-width: 800px){
   .menu-block{
      margin-right: 30px;
   }
   .menu{
      width: 25%;
   }
   .image-text p{
      display: none;
   }
   .text-slide{
      min-width: 370px;
      font-size: 20px;
   }
   .block-buttons{
      width: 30%;
   }
   .button-facebook, .button-twitter{
      margin: 0 0.5rem;
   }
   .block-images{
      flex-wrap: wrap;
   }
   .container-top-title{
      text-align: center;
      margin-left: 0;
   }
   .block-notices{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
   }
   .block-paisis{
      width: 100%;
   }
   .block-pirulita-cevadiss{
      width: 100%;
      flex-direction: column;
   }
   .block-pirulita, .block-cevadiss{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 1.5rem 0;
   }
   .block-cevadiss-title, .block-pirulita-title{
      display: none;
   }
   .block-cevadiss-titleResp, .block-pirulita-titleResp{
      display: block;
      color: #E74C3C;
   }
}
@media(max-width: 650px){
   .logo-menu{
      display: none;
   }
   .footer-block img{
      display: none;
   }
   .footer-block p {
      width: 80%;
   }
   .text-slide{
      display: none;
   }
   .text-slide-resp{
      display: block;
      font-size: 20px;
      align-self: center;
      font-weight: bold;
      width: 90%;
      margin-top: 0.5rem;
   }
   .block-arrow-prev, .block-arrow-next{
      display: none;
   }
   .slide{
      width: 90%;
   }
   .container-top-title{
      display: none;
   }
   .block-images{
      margin-top: 2rem;
   }
}
@media(max-width: 500px){
   .main-container{
      padding: 0;
   }
   .header-container{
      padding: 0.5rem 1rem 0 1rem;
   }
   .menu-block{
      max-width: 100%;
      width: 80%;
      margin: 0;  
   }
   .menu{
      width: 100%;
      height: 100%;
   }
   
   .text-slide-resp{
      display: block;
      font-size: 18px;
      align-self: center;
      font-weight: bold;
      width: 90%;
      margin-right: 0;
      margin-top: 0.5rem
   }
   .text-slide-resp::before{
      width: 65%;
      margin: 0;
      top: 51vh;
      left: 6vw;
   }
   .image-text{
      width: 90%;
      height: 86px;
      justify-content: flex-end;
      margin-left: 15px;
   }
   .folha-logo{
      width: 150px;
      align-self: flex-end;
      margin: 0 15px;
   }
   .block-buttons{
      display: none;
   }
   .block-images {
      max-width: 100%;
      justify-content: center;
      margin: 3rem 0 0 0;
   }
   .overlay-image, .overlay-image-two, .overlay-image-three{
      width: 100%;
   }
   .block-images img{
      width: 100%;
   }
   .block-notices{
      width: 100%;
      justify-content: center;
   }
   .container-divoltis{
      padding: 0;
   }
   .container-divoltis-title{
      text-align: left;
      margin-top: 2rem;
      margin-left: 1rem;
      margin-right: 0;
      margin-bottom: 0;
   }
   .block-info{
      width: 100%;
   }
   .block-info img{
      width: 100%;
      height: 200px;
   }
   .block-pirulita, .block-cevadiss{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      margin: 1.5rem 0;
   }
   .block-pirulita-info, .block-cevadiss-info{
      margin-top: 1rem;
   }
   .block-pirulita-info h2, .block-cevadiss-info h2{
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      color: #EA7A6E;
   }
   .block-pirulita-info p, .block-cevadiss-info p{
      color: #606D7A;
      width: 100%;
      font-size: 13px;
   }
   .block-pirulita-info img, .block-cevadiss-info img{
      width: 100px;
   }

   .ads-resp{
      width: auto;
      align-self: center;
      display: flex;
      flex-direction: column;
   }
   .ads-resp p {
      text-align: right;
      margin-right: 1rem;
      font-size: 12px;
      color: #969494;
      margin-bottom: 5px;
   }
   .ads-resp img {
      width: 260px;
      margin-right: 1rem;
   }
   .footer-block{
      padding: 1rem 0;
   }
   .footer-block p {
      width: 100%;
      margin-left: 1rem;
   }

}